<!--
WEB322 Assignment 3
Stan's Gallery - 7 Wonders
Author: Stanislav Chirikov
Student ID 074631128
Used materials: https://www.iflscience.com/the-seven-wonders-of-the-ancient-world-and-where-to-find-them-68477
-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Stan's Gallery - The Seven Wonders</title>
	</head>

	<body>
		<form method="post" action="/">
			{{>header}}
			<div>
				<h2>Login</h2>
				<br/>
				<input id="EnterUsername" name="EnterUsername" type="text" required placeholder="Username" value=""/>
				<br/>
				<input id="EnterPassword" name="EnterPassword" type="password" required placeholder="Password" value=""/>
				<br/>
				<button id="LoginButton" type="submit" value="submit">Submit</button>
				<br/>
				<a id="RegisterButton">Register (Under Construction)</a>
				<br/>
				<label id="Message">{{msg}}</label>
			</div>
		</form>
	</body>
</html>